.board-row::after{
    clear: both;
    content: '';
    display: block;
}
.square{
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 120px;
    width: 120px;
    line-height: 120px;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center;
    font-size: 50px;
}
.status{
    margin-bottom: 10px;
    padding: 3px;
}
.button{
    margin-top: 10px;
    width: 50px;
    height: 30px;
}
